name: Deploy on self-hosted runner

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Run just file
        run: cd /home/dariusmurk/repos/homelab && just run

      # - name: Redeploy container
      #   run: |
      #     cd /home/dariusmurk/repos/homelab
      #     docker compose down
      #     docker compose up -d
