name: Deploy on self-hosted runner

on:
  push:
    branches: [testing]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Pull image with latest tag
        run: |
          cd /home/dariusmurk/repos/homelab
          docker pull ${{ vars.FRONTEND_IMAGE_NAME }}:latest

      - name: Run container with latest tag
        run: |
          pwd
          docker run -d -p 3000:3000 --name 'homelab-fe' ${{ vars.FRONTEND_IMAGE_NAME }}:latest
       
